*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

header h1{
    background-color: black;
    padding: 20px 10px;
    border-bottom: 2px solid rgb(214, 211, 211);
}

header h1 a{
    color: white;
}

header{
    padding-bottom: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 8px rgb(139, 139, 139);
    z-index: 1;
}

nav{
    padding-left: 10px;
}

.main-nav{
    display: inline-block;
    word-spacing: 0.1em;
    padding: 10px 10px;
    margin-top: 5px;;
}

.main-nav:hover{
    border: 2px solid rgb(214, 213, 213);
    border-radius: 5px;;
}

#foot{
    background-color: black;
    width: 100%;
    border-bottom: 2px solid rgb(43, 42, 42);
    padding: 15px;
    /* margin-top: 20px; */
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.content{
    padding-top: 140px;
}

@media screen and (min-width: 800px){
    footer{
        text-align: center;
        font-size: 15px;;
    }
}

@media screen and (max-width: 799px) {
    footer{
        text-align: center;
        font-size: 10px;;
    }
    nav{
        font-size: 15px;
    }
}

@media screen and (max-width: 360px){
    nav{
        font-size: 12px;
    }
    header h1 a{
        color: white;
        font-size: 25px;;
    }
}

@media screen and (max-width: 297px){
    nav{
        font-size: 10px;
    }
    header h1 a{
        color: white;
        font-size: 23px;;
    }
}